# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
Flask-Login
psycopg2
Werkzeug==0.16.1

# ----------------------
# Production Server
# ----------------------
gunicorn